In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

dataset=pd.read_csv(r"C:\Users\MANYA SHARMA\Machine Learning/transformed_retail_sales.csv")
dataset.head()

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Transaction Date,Payment Method_Cash,Payment Method_Credit Card,Payment Method_Digital Wallet,Location_In-store,Location_Online,Total Spent Transformed
0,TXN_6867343,CUST_09,7.0,7,0.375000,1.000000,0.494505,2024-04-08,0.0,0.0,1.0,0.0,1.0,0.401795
1,TXN_3731986,CUST_22,6.0,62,0.666667,0.888889,0.703297,2023-07-23,0.0,0.0,1.0,0.0,1.0,0.532566
2,TXN_9303719,CUST_02,1.0,17,0.458333,0.111111,0.104396,2022-10-05,0.0,1.0,0.0,0.0,1.0,0.099298
3,TXN_9458126,CUST_06,0.0,48,0.625000,0.888889,0.666209,2022-05-07,0.0,1.0,0.0,0.0,1.0,0.510551
4,TXN_4575373,CUST_05,4.0,172,0.208333,0.666667,0.226648,2022-10-02,0.0,0.0,1.0,0.0,1.0,0.204286

In [ ]:
#Feature Select Tecinques
#selecting the columns which influence the outcome
#feature is an attribute that has an impact on a problem or is useful for the problem, and choosing the important
#features for thhe model is known as feature selection

In [ ]:
#Forward Elimination
#check the Ml model on eachh feature and check accuracy
#combine 2-2 features with the highest accuracy and again check accurary
#accuracy must increase and this way we keep o moving ahead

#Backward Elimination
#calculate the accuracy of all features and eleminate the highest one
#make groups and carry on the same

In [13]:
from mlxtend.feature_selection import SequentialFeatureSelector
X = dataset.drop(columns=['Transaction ID', 'Customer ID', 'Transaction Date', 'Total Spent', 'Total Spent Transformed'])
y = dataset["Total Spent Transformed"]
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
sfs=SequentialFeatureSelector(lr,k_features=3,forward=True)
#lr checks how good the features work together
#k_features is the number of useful columns
sfs.fit(X,y)
sfs.feature_names

['Category',
 'Item',
 'Price Per Unit',
 'Quantity',
 'Payment Method_Cash',
 'Payment Method_Credit Card',
 'Payment Method_Digital Wallet',
 'Location_In-store',
 'Location_Online']

In [14]:
sfs.k_feature_names_

('Item', 'Price Per Unit', 'Quantity')

In [15]:
sfs.k_score_ #accuracy

np.float64(0.8776862631582801)

In [16]:
selected_columns = list(sfs.k_feature_names_)
X_final = X[selected_columns]

print("Feature selection complete. Proceeding with features:", selected_columns)

Feature selection complete. Proceeding with features: ['Item', 'Price Per Unit', 'Quantity']

In [17]:
dataset.to_csv("final_dataset.csv", index=False)
print("File saved successfully!")

File saved successfully!